{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col-11">
            <h3>Edit Project - {{ project_title }}</h3>
        </div>
        <div class="col-1">
            <a href="{{ url_for('project', project_id=project_id) }}" class="btn btn-primary">
                <i class="bi bi-clipboard-check"></i>
                Tasks
            </a>
        </div>
    </div>
    <div class="row mt-2">
        <div class='col-12'>
            <form method="post" class="needs-validation" novalidate>
                {{ form.csrf_token }}
                {% if form.csrf_token.errors %}
                    <div class="warning">You have submitted an invalid CSRF token</div>
                {% endif %}
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                        <div class="mb-3">
                            {{ form.name.label(class="form-label")}}
                            {{ form.name(class="form-control") }}
                            <div class="invalid-feedback">
                                Required.
                            </div>
                            {% if form.name.errors %}
                                <ul class="errors">
                                {% for error in form.name.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.description.label(class="form-label")}}
                            {{ form.description(class="form-control") }}
                            <div class="d-flex justify-content-end fs-6 text-body-tertiary" id="character-count">0 / 100 characters</div>
                            {% if form.description.errors %}
                                <ul class="errors">
                                {% for error in form.description.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class='row'>
                            <div class="col-6 mb-3">
                                {{ form.start_date.label(class="form-label")}}
                                {{ form.start_date(class="form-control") }}
                                <div class="invalid-feedback">
                                    Required.
                                </div>
                                {% if form.start_date.errors %}
                                    <ul class="errors">
                                    {% for error in form.start_date.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                            <div class="col-6 mb-3">
                                {{ form.end_date.label(class="form-label")}}
                                {{ form.end_date(class="form-control") }}
                                <div class="invalid-feedback">
                                    Required.
                                </div>
                                {% if form.end_date.errors %}
                                    <ul class="errors">
                                    {% for error in form.end_date.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">Work Times</label>
                            <div class="row">
                                <div class="col-4">
                                    <div class="mb-3">
                                        {{ form.monday.label(class="form-label")}}
                                        <div class="input-group">
                                        {{ form.monday(class="form-control decimal-2", **{"aria-describedby": "monday_addon"}) }}
                                        <span class="input-group-text" id="monday_addon"> hrs</span>
                                        </div>
                                        {% if form.monday.errors %}
                                            <ul class="errors">
                                            {% for error in form.monday.errors %}
                                                <li class="text-danger">{{ error }}</li>
                                            {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mb-3">
                                        {{ form.tuesday.label(class="form-label")}}
                                        <div class="input-group">
                                            {{ form.tuesday(class="form-control decimal-2", **{"aria-describedby": "tuesday_addon"}) }}
                                            <span class="input-group-text" id="tuesday_addon"> hrs</span>
                                        </div>
                                        {% if form.tuesday.errors %}
                                            <ul class="errors">
                                            {% for error in form.tuesday.errors %}
                                                <li class="text-danger">{{ error }}</li>
                                            {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mb-3">
                                        {{ form.wednesday.label(class="form-label")}}
                                        <div class="input-group">
                                            {{ form.wednesday(class="form-control decimal-2", **{"aria-describedby": "wednesday_addon"}) }}
                                            <span class="input-group-text" id="wednesday_addon"> hrs</span>
                                            </div>
                                        {% if form.wednesday.errors %}
                                            <ul class="errors">
                                            {% for error in form.wednesday.errors %}
                                                <li class="text-danger">{{ error }}</li>
                                            {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="mb-3">
                                        {{ form.thursday.label(class="form-label")}}
                                        <div class="input-group">
                                            {{ form.thursday(class="form-control decimal-2", **{"aria-describedby": "thursday_addon"}) }}
                                            <span class="input-group-text" id="thursday_addon"> hrs</span>
                                            </div>
                                        {% if form.thursday.errors %}
                                            <ul class="errors">
                                            {% for error in form.thursday.errors %}
                                                <li class="text-danger">{{ error }}</li>
                                            {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mb-3">
                                        {{ form.friday.label(class="form-label")}}
                                        <div class="input-group">
                                            {{ form.friday(class="form-control decimal-2", **{"aria-describedby": "friday_addon"}) }}
                                            <span class="input-group-text" id="friday_addon"> hrs</span>
                                            </div>
                                        {% if form.friday.errors %}
                                            <ul class="errors">
                                            {% for error in form.friday.errors %}
                                                <li class="text-danger">{{ error }}</li>
                                            {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mb-3">
                                        {{ form.saturday.label(class="form-label")}}
                                        <div class="input-group">
                                            {{ form.saturday(class="form-control decimal-2", **{"aria-describedby": "saturday_addon"}) }}
                                            <span class="input-group-text" id="saturday_addon"> hrs</span>
                                            </div>
                                        {% if form.saturday.errors %}
                                            <ul class="errors">
                                            {% for error in form.saturday.errors %}
                                                <li class="text-danger">{{ error }}</li>
                                            {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mb-3">
                                        {{ form.sunday.label(class="form-label")}}
                                        <div class="input-group">
                                            {{ form.sunday(class="form-control decimal-2", **{"aria-describedby": "sunday_addon"}) }}
                                            <span class="input-group-text" id="sunday_addon"> hrs</span>
                                            </div>
                                        {% if form.sunday.errors %}
                                            <ul class="errors">
                                            {% for error in form.sunday.errors %}
                                                <li class="text-danger">{{ error }}</li>
                                            {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                  </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="col-4">
            <label class="form-label">Add Member:</label>
            <form method="post" action="{{ url_for('invite_project_member', project_id=project_id)}}">
                {{ add_member_form.csrf_token }}
                {% if add_member_form.csrf_token.errors %}
                    <div class="warning">You have submitted an invalid CSRF token</div>
                {% endif %}
                <div class="input-group mb-3">
                    {{ add_member_form.amf_email(class="form-control") }}
                    {{ add_member_form.amf_submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
        <div class="col-12">
            <label class="form-label">Members</label>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 80%">Name</th>
                        <th class="text-center">Role</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in project_members %}
                    <tr>
                        <td>{{ member[1] }}</td>
                        <td class="text-center">
                            {% if member[0] in project_team_leaders %}
                                <span class="badge bg-success">Team Leader</span>
                            {% else %}
                                <span class="badge bg-secondary">Member</span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if current_user.is_team_leader(project_id) and (current_user.id != member[0] or project_team_leaders|length > 1) %}
                            <button 
                                class="btn btn-primary btn-sm edit-member-btn" 
                                data-user-id="{{ member[0] }}" 
                                data-user-name="{{ member[1] }}" 
                                data-is-team-leader="{{ member[0] in project_team_leaders }}"
                                title="Edit Role">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button 
                                class="btn btn-danger btn-sm remove-member-btn" 
                                data-user-id="{{ member[0] }}" 
                                data-user-name="{{ member[1] }}"
                                title="Remove Member">
                                <i class="bi bi-trash"></i>
                            </button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal for Editing Role -->
    <div class="modal fade" id="editMemberModal" tabindex="-1" aria-labelledby="editMemberModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form id="editMemberForm" method="POST" action="{{ url_for('update_project_member_role', project_id=project_id)}}">
                {{ edit_role_form.csrf_token }}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editMemberModalLabel">Edit Member Role</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ edit_role_form.erf_user_id }}
                        <div class="mb-3">
                            <label for="editModalUserName" class="form-label">Member Name</label>
                            <input type="text" class="form-control" id="editModalUserName" readonly>
                        </div>
                        <div class="mb-3">
                            {{ edit_role_form.erf_role.label(class="form-label") }}
                            {{ edit_role_form.erf_role(class="form-select") }}
                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        {{ edit_role_form.erf_submit(class="btn btn-primary") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <!-- Modal for Removing Member -->
    <div class="modal fade" id="removeMemberModal" tabindex="-1" aria-labelledby="removeMemberModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form id="removeMemberForm" method="POST"  action="{{ url_for('remove_project_member', project_id=project_id)}}">
                {{ remove_member_form.csrf_token }}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="removeMemberModalLabel">Remove Member</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ remove_member_form.rmf_user_id }}
                        <p>Are you sure you want to remove <strong id="removeModalUserName"></strong> from the project?</p>
                        <p class="text-danger">This action cannot be undone.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        {{ remove_member_form.rmf_submit(class="btn btn-danger") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}

{% block scripts %}
{{ super() }}   
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const textArea = document.getElementById('description');
        const charCount = document.getElementById('character-count');

        // display character count on load
        let currentLength = textArea.value.length;
        charCount.textContent = `${currentLength} / 100 characters`;

        textArea.addEventListener('input', () => {
            currentLength = textArea.value.length;
            charCount.textContent = `${currentLength} / 100 characters`;
        });

        function openEditModal(userId, userName, isTeamLeader) {
            document.getElementById('erf_user_id').value = userId;
            document.getElementById('editModalUserName').value = userName;
            console.log(isTeamLeader)
            document.getElementById('erf_role').value = isTeamLeader ? 'team_leader' : 'member';
            const modal = new bootstrap.Modal(document.getElementById('editMemberModal'));
            modal.show();
        }

        function openRemoveModal(userId, userName) {
            document.getElementById('rmf_user_id').value = userId;
            document.getElementById('removeModalUserName').textContent = userName;
            const modal = new bootstrap.Modal(document.getElementById('removeMemberModal'));
            modal.show();
        }

        // Add event listeners to edit buttons
        document.querySelectorAll('.edit-member-btn').forEach(button => {
            button.addEventListener('click', function () {
                const userId = this.getAttribute('data-user-id');
                const userName = this.getAttribute('data-user-name');
                const isTeamLeader = this.getAttribute('data-is-team-leader') === 'True'; // to change to js boolean

                openEditModal(userId, userName, isTeamLeader);
            });
        });

        // Add event listeners to remove buttons
        document.querySelectorAll('.remove-member-btn').forEach(button => {
            button.addEventListener('click', function () {
                const userId = this.getAttribute('data-user-id');
                const userName = this.getAttribute('data-user-name');

                openRemoveModal(userId, userName);
            });
        });
    });
</script>
{% endblock %}