{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <div class="row mb-4">
        <div class="col-10">
            <h3 class="fw-bold text-primary">Projects</h3>
        </div>
        <div class="col-2 text-end">
            <button title="New Project" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newProjectModal">
                <i class="bi bi-folder-plus me-1"></i> New Project
            </button>
        </div>
    </div>

    <!-- Header Row for Project Details -->
    <div class="row fw-semibold text-muted border-bottom py-2">
        <div class="col-2">Title</div>
        <div class="col-5">Description</div>
        <div class="col-2">Start Date</div>
        <div class="col-2">End Date</div>
        <div class="col-1 text-center">Action</div>
    </div>

    <!-- Project Items -->
    {% for project in projects %}
    <div class="row align-items-center">
        <a href="{{ url_for('project', project_id=project['_id']) }}" class="text-decoration-none col-11">
            <div class="row py-3 border-bottom project-item">
                <div class="col-2 text-primary fw-medium">
                    {{ project['title'] }}
                </div>
                <div class="col-5 text-secondary">
                    {{ project['description'] }}
                </div>
                <div class="col-2 text-muted">
                    {{ project['start_date'].date() }}
                </div>
                <div class="col-2 text-muted">
                    {{ project['end_date'].date() }}
                </div>
            </div>
        </a>
        
        <!-- Action Button with Popover -->
        <div class="col-1 text-center py-2 border-bottom">
            <button class="btn btn-outline-danger" type="button" data-bs-toggle="popover"
                data-bs-html="true" data-bs-sanitize="false" data-bs-placement="top"
                aria-label="Opt out of project {{ project['title'] }}" 
                title="Remove project? "
                data-bs-content="<div class='mb-2'>Are you sure you want to remove project {{ project['title'] }}?</div>
                                    <div><a class='btn btn-danger btn-sm' 
                                        href='{{ url_for('remove_member', project_id=project['_id'], member_id=current_user.id) }}'>
                                            <i class='bi bi-folder-x'></i> Remove
                                        </a></div>">
                <i class="bi bi-folder-x"></i>
            </button>
        </div>
    </div>
    {% endfor %}
</div>


<div class="modal fade" id="newProjectModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newProjectLabel" aria-hidden="true">
    <form method="post" class="needs-validation" novalidate>
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        <div class="warning">You have submitted an invalid CSRF token</div>
    {% endif %}
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newProjectLabel">New Project</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                {{ form.name.label(class="form-label")}}
                {{ form.name(class="form-control") }}
                <div class="invalid-feedback">
                    Required.
                </div>
                {% if form.name.errors %}
                    <ul class="errors">
                    {% for error in form.name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.description.label(class="form-label")}}
                {{ form.description(class="form-control") }}
                {% if form.description.errors %}
                    <ul class="errors">
                    {% for error in form.description.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-6 mb-3">
                    {{ form.start_date.label(class="form-label")}}
                    {{ form.start_date(class="form-control") }}
                    <div class="invalid-feedback">
                        Required.
                    </div>
                    {% if form.start_date.errors %}
                        <ul class="errors">
                        {% for error in form.start_date.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="col-6 mb-3">
                    {{ form.end_date.label(class="form-label")}}
                    {{ form.end_date(class="form-control") }}
                    <div class="invalid-feedback">
                        Required.
                    </div>
                    {% if form.end_date.errors %}
                        <ul class="errors">
                        {% for error in form.end_date.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Class Times</label>
                <div class="row">
                    <div class="col-4">
                        <div class="mb-3">
                            {{ form.monday.label(class="form-label")}}
                            <div class="input-group">
                                {{ form.monday(class="form-control", **{"aria-describedby": "monday_addon"}) }}
                                <span class="input-group-text" id="monday_addon"> mins</span>
                            </div>
                            {% if form.monday.errors %}
                                <ul class="errors">
                                {% for error in form.monday.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-3">
                            {{ form.tuesday.label(class="form-label")}}
                            <div class="input-group">
                                {{ form.tuesday(class="form-control", **{"aria-describedby": "tuesday_addon"}) }}
                                <span class="input-group-text" id="tuesday_addon"> mins</span>
                            </div>
                            {% if form.tuesday.errors %}
                                <ul class="errors">
                                {% for error in form.tuesday.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-3">
                            {{ form.wednesday.label(class="form-label")}}
                            <div class="input-group">
                                {{ form.wednesday(class="form-control", **{"aria-describedby": "wednesday_addon"}) }}
                                <span class="input-group-text" id="wednesday_addon"> mins</span>
                            </div>
                            {% if form.wednesday.errors %}
                                <ul class="errors">
                                {% for error in form.wednesday.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="mb-3">
                            {{ form.thursday.label(class="form-label")}}
                            <div class="input-group">
                                {{ form.thursday(class="form-control", **{"aria-describedby": "thursday_addon"}) }}
                                <span class="input-group-text" id="thursday_addon"> mins</span>
                            </div>
                            {% if form.thursday.errors %}
                                <ul class="errors">
                                {% for error in form.thursday.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-3">
                            {{ form.friday.label(class="form-label")}}
                            <div class="input-group">
                                {{ form.friday(class="form-control", **{"aria-describedby": "friday_addon"}) }}
                                <span class="input-group-text" id="friday_addon"> mins</span>
                            </div>
                            {% if form.friday.errors %}
                                <ul class="errors">
                                {% for error in form.friday.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-3">
                            {{ form.saturday.label(class="form-label")}}
                            <div class="input-group">
                                {{ form.saturday(class="form-control", **{"aria-describedby": "saturday_addon"}) }}
                                <span class="input-group-text" id="saturday_addon"> mins</span>
                            </div>
                            {% if form.saturday.errors %}
                                <ul class="errors">
                                {% for error in form.saturday.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-3">
                            {{ form.sunday.label(class="form-label")}}
                            <div class="input-group">
                                {{ form.sunday(class="form-control", **{"aria-describedby": "sunday_addon"}) }}
                                <span class="input-group-text" id="sunday_addon"> mins</span>
                            </div>
                            {% if form.sunday.errors %}
                                <ul class="errors">
                                {% for error in form.sunday.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
    </form>
  </div>
{% endblock %}

{% block styles %}
{{ super() }}
<style>
    .project-item:hover {
        background-color: #f8f9fa;
    }
</style>
{% endblock %}