{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='hcharts.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='projectPage.css')}}">
<style type="text/css">
.text-danger {
	font-size : smaller;
}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="mt-3">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link {% if active_tab == 'nav-kanban-tab' %} active {% endif %}" id="nav-kanban-tab" data-bs-toggle="tab" data-bs-target="#nav-kanban" type="button" role="tab" aria-controls="nav-kanban" aria-selected="true">KANBAN</button>
            <button class="nav-link {% if active_tab == 'nav-wbs-tab' %} active {% endif %}" id="nav-wbs-tab" data-bs-toggle="tab" data-bs-target="#nav-wbs" type="button" role="tab" aria-controls="nav-wbs" aria-selected="false">WBS</button>
            <button class="nav-link {% if active_tab == 'nav-gantt-tab' %} active {% endif %}" id="nav-gantt-tab" data-bs-toggle="tab" data-bs-target="#nav-gantt" type="button" role="tab" aria-controls="nav-gantt" aria-selected="false">GANTT</button>
            <div class="ms-auto">
              <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTaskModal">
                <i class="bi bi-clipboard2-plus"></i>
                New Task
              </button>
              <a class="btn btn-primary" href="{{url_for('edit_project', project_id=project_id)}}">
                <i class="bi bi-folder2-open"></i>
                Edit Project
              </a>    
              <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#logsModal">
                <i class="bi bi-list-check"></i>
                Logs
              </button>
            </div>
                              
        </div>
      </nav>
    </div>
    <div class="tab-content" id="nav-tabContent">
        {% include 'includes/kanban_tabcontent.html' %}
        {% include 'includes/wbs_tabcontent.html' %}
        {% include 'includes/gantt_tabcontent.html' %}
    </div>
</div>

<div class="modal fade" id="addTaskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addTaskLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form action="{{ url_for('project', project_id=project_id) }}" method="post" class="form needs-validation" id="addTaskForm" novalidate>
          {{ form.hidden_tag() }}
          <div class="modal-header">
            <h4 class="modal-title" id="addTaskModalLabel">New Task</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-12">
                <div class="mb-3">
                  {{ form.title.label(class="form-label") }}
                  {{ form.title(class="form-control") }}
                  {% for error in form.title.errors %}
                      <div class="text-danger">{{ error }}</div>
                  {% endfor %}
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  {{ form.parent_task.label(class="form-label")}}
                  {{ form.parent_task(class="form-select") }}
                  {% for error in form.parent_task.errors %}
                    <div class="text-danger">{{ error }}</div>
                  {% endfor %}
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  {{ form.dependency.label(class="form-label") }}
                  {{ form.dependency(class="form-select") }}
                  {% for error in form.dependency.errors %}
                    <div class="text-danger">{{ error }}</div>
                  {% endfor %}
                </div> 
              </div>
              <div class="col-6">
                <div class="mb-3">
                  {{ form.task_number.label(class="form-label") }}
                  {{ form.task_number(class="form-control") }}
                  {% for error in form.task_number.errors %}
                    <div class="text-danger">{{ error }}</div>
                  {% endfor %}
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  {{ form.hierarchy.label(class="form-label") }}
                  {{ form.hierarchy(class="form-control") }}
                  {% for error in form.hierarchy.errors %}
                    <div class="text-danger">{{ error }}</div>
                  {% endfor %}
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  {{ form.optimistic_duration.label(class="form-label") }}
                  {{ form.optimistic_duration(class="form-control") }}
                  {% for error in form.optimistic_duration.errors %}
                    <div class="text-danger">{{ error }}</div>
                  {% endfor %}
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  {{ form.expected_duration.label(class="form-label") }}
                  {{ form.expected_duration(class="form-control") }}
                  {% for error in form.expected_duration.errors %}
                    <div class="text-danger">{{ error }}</div>
                  {% endfor %}
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  {{ form.pessimistic_duration.label(class="form-label") }}
                  {{ form.pessimistic_duration(class="form-control") }}
                  {% for error in form.pessimistic_duration.errors %}
                    <div class="text-danger">{{ error }}</div>
                  {% endfor %}
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  {{ form.reserve_analysis.label(class="form-label") }}
                  {{ form.reserve_analysis(class="form-control") }}
                  {% for error in form.reserve_analysis.errors %}
                    <div class="text-danger">{{ error }}</div>
                  {% endfor %}
                </div>
              </div>
              <div class="col-8">
                <div class="mb-3">
                  {{ form.comments.label(class="form-label") }}
                  {{ form.comments(class="form-control") }}
                  {% for error in form.comments.errors %}
                    <div class="text-danger">{{ error }}</div>
                  {% endfor %}
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  {{ form.expected_start_date.label(class="form-label") }}
                  {{ form.expected_start_date(class="form-control") }}
                  {% for error in form.expected_start_date.errors %}
                    <div class="text-danger">{{ error }}</div>
                  {% endfor %}
                    <!-- for invalid date picked / non-working day -->
                    <div id="invalid-expected-start-date-picked" class="text-danger d-none">
                        Please select a valid project working day!
                    </div>
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
					{{ form.expected_end_date.label(class="form-label") }} 
					<i class="bi bi-info-circle text-info" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top" title="Based on durations and reserve analysis. <br> ((OD + 4 * ED + PD) / 6) + RA"></i>
					{{ form.expected_end_date(class="form-control") }}
					{% for error in form.expected_end_date.errors %}
						<div class="text-danger">{{ error }}</div>
					{% endfor %}
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  {{ form.total_expected_duration.label(class="form-label") }}
					<div class="input-group">                    
						{{ form.total_expected_duration(class="form-control decimal-2") }}
						<span class="input-group-text">work hrs</span>
					</div>
                  	{% for error in form.total_expected_duration.errors %}
						<div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
					{{ form.actual_start_date.label(class="form-label") }}
					{{ form.actual_start_date(class="form-control") }}
                  	{% for error in form.actual_start_date.errors %}
						<div class="text-danger">{{ error }}</div>
                    {% endfor %}
                  <!-- for invalid date picked / non-working day -->
                  <div id="invalid-actual-start-date-picked" class="text-danger d-none">
                    Please select a valid project working day!
                </div>
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
					{{ form.actual_end_date.label(class="form-label") }}
					{{ form.actual_end_date(class="form-control") }}
					{% for error in form.actual_end_date.errors %}
						<div class="text-danger">{{ error }}</div>
					{% endfor %}
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  {{ form.total_actual_duration.label(class="form-label") }}
                  <div class="input-group">                    
                    {{ form.total_actual_duration(class="form-control decimal-2") }}
                    <span class="input-group-text">work hrs</span>
                  </div>
				    {% for error in form.total_actual_duration.errors %}
						<div class="text-danger">{{ error }}</div>
					{% endfor %}
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
					{{ form.owners.label(class="form-label") }}
					{{ form.owners(class="form-check list-unstyled") }}
					{% for error in form.owners.errors %}
						<div class="text-danger">{{ error }}</div>
					{% endfor %}
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
					{{ form.completion.label(class="form-label") }}
					{{ form.completion(class="form-control") }}
					{% for error in form.completion.errors %}
						<div class="text-danger">{{ error }}</div>
					{% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            {{ form.submit(class="btn btn-primary") }}
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="logsModal" tabindex="-1" aria-labelledby="logsModalLabel" aria-hidden="true" data-project-id="{{ project_id }}">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logsModalLabel">Project Logs</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <ul class="list-group" id="logsList">
                <!-- Logs will be dynamically loaded here -->
              </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

<!-- <script src="https://code.highcharts.com/gantt/highcharts-gantt.js"></script> -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/gantt/modules/gantt.js"></script>
<script src="https://code.highcharts.com/modules/sankey.js"></script>

<script src="https://code.highcharts.com/modules/organization.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/gantt/modules/pattern-fill.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script>
  // to be used in hcharts.js
  let allTasks = {{ all_tasks|safe }};
  let projectTitle = "{{ project_title|safe }}";
  let projectStartDate = "{{ project_start_date|safe }}";
  let projectEndDate = "{{ project_end_date|safe }}";
  let validForm = ("{{ valid_form|safe }}" === "True"); // to display js boolean
  let workDays = {{ work_days|safe }};
  let projectMembers = {{ project_members|safe }};
  let projectTotalHours = {{ project_total_hours|safe }};
</script>
<script src="{{ url_for('static', filename='hcharts.js') }}"></script>
<script src="{{ url_for('static', filename='projectPage.js') }}"></script>
{% endblock %}